
@using ShopCheckDb;
@model List<Product>

@{
    ViewData["Title"] = "Home Page";
    
}


<table class="table">
    <thead>
        <th scope="col"> Id    </th>
        <th scope="col"> Name </th>
        <th scope="col"> Url </th>
        <th scope="col">  Min Stock </th>
        <th scope="col"> Edit </th>
        <th scope="col"> Delete </th>
    </thead>
    <tbody>

@{
    foreach (Product product in Model)
    {
        <tr>
            <td style="width: 1%"> @product.Id </td>
            <td class="col-6"> @product.Name </td>
            <td class ="col-6"> @product.Url </td>
            <td style="width: 1%"> @product.MinStock </td>
            <td style="width: 1%"> 
                   <form method="get" asp-action="Edit" asp-route-id="@product.Id">
                       <button class="btn btn-success"> Edit </button>
                   </form>
            </td>
            <td style="width: 1%">
                   <form method="post" asp-action="Delete" asp-route-id="@product.Id">
                        <button class="btn btn-outline-danger" > Delete </button>
                   </form>
             </td>
        </tr>
    }
}
    </tbody>
</table>

<button data-bs-toggle="modal" data-bs-target="#exampleModal"> Click me for delete demo </button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Deleting X</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" >Yes, Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>